[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images
Type=Link
URL=file:///url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwj_3ICZ8q3QAhVDShQKHUw3DqcQjRwIBw&url=https%3A%2F%2Femailholidays.com%2Faria-hotel-las-vegas%2F&psig=AFQjCNGkGjLZlEhtX1xMpHvov3B2E8nJzQ&ust=1479406868428840
Icon=text-html
